* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.question {
  margin: 20px 10%;
  border: 1px solid #252629;
  border-radius: 0.5rem;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
}

.add__bookmark {
  display: flex;
  justify-content: flex-end;
}

.question {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.categories {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  font-size: 1.5rem;
  padding: 0;
  justify-content: space-evenly;
  list-style: none;
  gap: 0.5rem;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  padding: 0.5rem;
}

.nav__link {
  color: lightgrey;
}

.categories__value {
  padding: 5px 5px;
}

.button {
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(0, 113, 227);
  color: white;
  font-size: 0.9rem;
}
