* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 80px 0 45px 0;
  font-family: system-ui;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
}

.card {
  margin: 20px 10%;
  border: 5px solid #252629;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
}

.add__bookmark {
  display: flex;
  justify-content: flex-end;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
