* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
}

.card {
  margin: 20px 10%;
  border: 1px solid #252629;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
}

.add__bookmark {
  display: flex;
  justify-content: flex-end;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categories {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.categories__value {
  padding: 5px 5px;
}

.button {
  height: 2rem;
}
