.card__question {
  margin: 20px 10%;
  border: 1px solid #252629;
  border-radius: 0.5rem;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -0.7rem;
}

.card__categories {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card__categories-value {
  background-color: lightgray;
  padding: 5px 14px;
  border-radius: 5px;
  border: solid;
}
