.question {
  margin: 20px 10%;
  border: 1px solid #252629;
  border-radius: 0.5rem;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
}

.add__bookmark {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}

.question {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.categories {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.categories__value {
  background-color: lightgray;
  padding: 5px 14px;
  border-radius: 5px;
  border: solid;
}
